.application-logo-container .application-logo-icon
{
  background: url('../images/application-logo-icon.png') no-repeat;
  background-size: 60px 60px;
}

.application-logo-container .application-logo-name
{
  background: url('../images/application-logo-name.png') no-repeat;
  background-size: 170px 60px;
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx)
{
  .application-logo-container .application-logo-icon
  {
    background: url('../images/application-logo-icon@2x.png') no-repeat;
    background-size: 60px 60px;
  }

  .application-logo-container .application-logo-name
  {
    background: url('../images/application-logo-name@2x.png') no-repeat;
    background-size: 170px 60px;
  }
}

span.copyright-name:before
{
  content: "Marcus Portmann";
}

table.table-group-definition > thead > tr > th
{
  font-size: 12px;
}

table.table-group-definition > tbody > tr > td
{
  font-size: 12px;
  white-space: nowrap;
}







div.group-rating-item-response
{
}

div.group-rating-item-response select
{
  -webkit-appearance:none;
  -moz-appearance: none;
  background: none;
  border: transparent;
  border-radius: 0;
  width: 100%;
  height: auto;
  padding-left: 0;
  padding-top: 3px;
  padding-bottom: 5px;
  font-size: 12px;
}

div.group-rating-item-response select:focus
{
  background: none;
}

.has-error .form-material div.group-rating-item-response select
{
  -webkit-box-shadow:0 2px 0 #d26a5c;box-shadow:0 1px 0 #d26a5c
}

.has-error .form-material div.group-rating-item-response select:focus
{
  -webkit-box-shadow:0 2px 0 #d26a5c;box-shadow:0 2px 0 #d26a5c
}

div.group-rating-item-response select option[disabled]:first-child
{
  display: none;
}

div.group-rating-item-response:after
{
  background: none;
  color: #888;
  content: "\f0d7";
  font-family: 'FontAwesome';
  font-size: 13px;
  padding-top: 8px;
  padding-right: 0;
  padding-left: 10px;
  padding-bottom: 0;
  position: absolute;
  right: 0px;
  width: 20px;
  top: 0;
  text-align: center;
}




