.application-logo-icon
{
  background: url('../images/application-logo-icon.png') no-repeat;
  background-size: 60px 60px;
}

.application-logo-name
{
  background: url('../images/application-logo-name.png') no-repeat;
  background-size: 170px 60px;
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx)
{
  .application-logo-icon
  {
    background: url('../images/application-logo-icon@2x.png') no-repeat;
    background-size: 60px 60px;
  }

  .application-logo-name
  {
    background: url('../images/application-logo-name@2x.png') no-repeat;
    background-size: 170px 60px;
  }
}

span.copyright-name:before
{
  content: "Marcus Portmann";
}

span.application-tag-line:before
{
  content: "survey.digital";
}



table.table-group-definition > thead > tr > th
{
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
  padding: 5px 5px;
  max-width: 80px;
}

table.table-group-definition > tbody > tr > td
{
  font-size: 11px;
  white-space: nowrap;
  text-align: center;
  padding: 1px;
  vertical-align: middle;
}

table.table-group-definition > tbody > tr > td > div
{
  color: #000000;
  padding: 5px 5px;
  min-height: 40px;
  vertical-align: middle;
}

table.table-group-definition > tbody > tr > td > div > span.num-ratings
{
  font-size: 8px;
}

table.table-group-definition .form-group
{
  margin: 0;
  display: inline-block;
}

table.table-group-definition .form-group .form-material
{
  margin: 0;
}


table.table-group-definition .group-rating-item-response
{
  margin-bottom: 0px;
}

table.table-group-definition .group-rating-item-response select
{
  -webkit-appearance:none;
  -moz-appearance: none;
  background: none;
  border: transparent;
  border-radius: 0;
  width: 40px;
  font-size: 11px;
  height: auto;
  padding-left: 0;
  padding-top: 5px;
  padding-bottom: 7px;
  /*-webkit-box-shadow: 0 1px 0 #e6e6e6;*/
  /*box-shadow: 0 1px 0 #e6e6e6;*/
}

table.table-group-definition .group-rating-item-response select:focus
{
  -webkit-box-shadow:0 2px 0 #5c90d2;box-shadow:0 2px 0 #5c90d2;
}

table.table-group-definition .has-error .form-material .group-rating-item-response select
{
  -webkit-box-shadow:0 2px 0 #d26a5c;box-shadow:0 1px 0 #d26a5c
}

table.table-group-definition .has-error .form-material .group-rating-item-response select:focus
{
  -webkit-box-shadow:0 2px 0 #d26a5c;box-shadow:0 2px 0 #d26a5c
}

table.table-group-definition .group-rating-item-response select option[disabled]:first-child
{
  display: none;
}

table.table-group-definition .group-rating-item-response:after
{
  background: none;
  color: #bbb;
  content: "\f0d7";
  font-family: 'FontAwesome';
  font-size: 11px;
  padding-top: 8px;
  padding-right: 0;
  padding-left: 10px;
  padding-bottom: 0;
  position: absolute;
  right: 0px;
  width: 20px;
  top: 0;
  text-align: center;
}


div.grad-100 {background-color: rgba(7,255,0,0.5)}
div.grad-95 {background-color: rgba(43,255,0,0.5)}
div.grad-90 {background-color: rgba(80,255,0,0.5)}
div.grad-85 {background-color: rgba(116,255,0,0.5)}
div.grad-80 {background-color: rgba(153,255,0,0.5)}
div.grad-75 {background-color: rgba(189,255,0,0.5)}
div.grad-70 {background-color: rgba(225,255,0,0.5)}
div.grad-65 {background-color: rgba(255,255,0,0.5)}
div.grad-60 {background-color: rgba(255,218,0,0.5)}
div.grad-55 {background-color: rgba(255,182,0,0.5)}
div.grad-50 {background-color: rgba(255,145,0,0.5)}
div.grad-45 {background-color: rgba(255,109,0,0.5)}
div.grad-40 {background-color: rgba(255,72,0,0.5)}
div.grad-35 {background-color: rgba(255,36,0,0.5)}
div.grad-30 {background-color: rgba(255,30,0,0.5)}
div.grad-25 {background-color: rgba(255,25,0,0.5)}
div.grad-20 {background-color: rgba(255,20,0,0.5)}
div.grad-15 {background-color: rgba(255,15,0,0.5)}
div.grad-10 {background-color: rgba(255,10,0,0.5)}
div.grad-5 {background-color: rgba(255,5,0,0.5)}
div.grad-0 {background-color: rgba(255,0,0,0.5)}

