.clear-both
{
  clear: both;
}

.logo .logo-mini
{
  display: inline-block;
  padding: 0;
  margin:0;
  width: 50px;
  height: 50px;
  background: url('../images/logo-mini.png') no-repeat;
  background-size: 50px 50px;
}

.logo .logo-lg
{
  display: inline-block;
  padding: 0;
  margin:0;
  width: 200px;
  height: 50px;
  background: url('../images/logo-lg.png') no-repeat;
  background-size: 200px 50px;
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx)
{
  .logo .logo-mini
  {
    display: inline-block;
    padding: 0;
    margin:0;
    width: 50px;
    height: 50px;
    background: url('../images/logo-mini@2x.png') no-repeat;
    background-size: 50px 50px;
  }

  .logo .logo-lg
  {
    display: inline-block;
    padding: 0;
    margin:0;
    width: 200px;
    height: 50px;
    background: url('../images/logo-lg@2x.png') no-repeat;
    background-size: 200px 50px;
  }
}

span.copyright-name:before
{
  content: "Marcus Portmann";
}

table.table-group-ratings-definition
{
  width: 100%;
  margin-bottom: 0px;
}

table.table-group-ratings-definition > thead > tr > th, table.table-group-ratings-definition > tbody > tr > td
{
  font-size: 11px;
  text-align: center;
  padding: 0 5px 10px;
  min-width: 80px;
}

table.table-group-ratings-definition > thead > tr > th
{
  padding: 0 5px 5px;
  vertical-align: bottom;
}

table.table-group-ratings-definition > tbody > tr > td
{
  white-space: nowrap;
  padding: 0 5px 10px;
  vertical-align: middle;
}

table.table-group-ratings-definition > thead > tr > th:last-child
{
  max-width: 30px;
  width: 30px;
  border: none;
  text-align: right;
  padding-bottom: 20px;
}

table.table-group-ratings-definition > tbody > tr > td:first-child
{
  padding-left: 5px;
  padding-right: 5px;
}

table.table-group-ratings-definition > tbody > tr:last-child > td:first-child
{
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  border: none;
  background-color: #fff;
}

table.table-group-ratings-definition > tbody > tr > td
 {
   font-size: 11px;
   white-space: nowrap;
   text-align: center;
   vertical-align: middle;
 }

table.table-group-ratings-definition > tbody > tr > td:first-child
{
  font-weight: 600;
}

table.table-group-ratings-definition > thead > tr > th > div > span, table.table-group-ratings-definition > tbody > tr > td > span
{
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

table.table-group-ratings-definition > thead > tr > th div.btn-group
{
  margin-bottom: 5px;
}





































.survey-definition .panel
{
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.survey-definition .panel-heading
{
  position: relative;
  padding: 0;
}

.survey-definition .panel-heading .heading-table
{
  display: table;
  width: 100%;
}

.survey-definition .panel-heading .heading-table .heading-row
{
  display: table-row;
}

.survey-definition .panel-heading .heading-table .heading-row .heading-icon-cell
{
  display: table-cell;
  position: absolute;
  width: 60px;
  top: 0;
  bottom: 0;
  text-align: center;
  line-height: 70px;
  background-color: #ddd;
  font-size: 18px;
  color: #444;
}

.survey-definition .panel-heading .heading-table .heading-row .heading-top-cell
{
  display: table-cell;
  padding-left: 10px;
  padding-right: 0px;
  border-bottom: 1px solid #ddd;
}

.survey-definition .panel-heading .heading-table .heading-row .heading-name
{
  float: left;
  line-height: 35px;
}

.survey-definition .panel-heading .heading-table .heading-row .heading-actions
{
  display: inline-block;
  float: right;
  line-height: 35px;
}

.survey-definition .panel-heading .heading-table .heading-row .heading-actions .btn-group
{
  margin: 0;
  margin-bottom: 2px;
  margin-right: 10px;
  vertical-align: middle;
}

.survey-definition .panel-heading .heading-table .heading-row .heading-collapse
{
  position: relative;
  float: right;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #f4f4f4;
  border-left: 1px solid #ddd;
}

.survey-definition .panel-heading .heading-table .heading-row .heading-collapse i
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #646464;
  line-height: 35px;
  font-size: 12px;
}

.survey-definition .panel-heading .heading-table .heading-row .heading-collapse i.collapsed
{
  visibility: hidden;
}

.survey-definition .panel-heading .heading-table .heading-row .heading-collapse.collapsed i.collapsed
{
  visibility: visible;
}

.survey-definition .panel-heading .heading-table .heading-row .heading-collapse i.expanded
{
  visibility: visible;
}

.survey-definition .panel-heading .heading-table .heading-row .heading-collapse.collapsed i.expanded
{
  visibility: hidden;
}

.survey-definition .panel-heading .heading-table .heading-row .heading-padding-cell
{
  display: table-cell;
  width: 60px;
}

.survey-definition .panel-heading .heading-table .heading-row .heading-bottom-cell
{
  display: table-cell;
  padding-left: 10px;
  line-height: 30px;
}

.survey-definition .panel .first-item-definition
{
  padding: 10px;
  text-align: center;
}

.survey-definition .panel .item-definition
{
  padding: 10px;
  border-top: 1px solid #ddd;
}

.survey-definition .panel .section-definition
{
  padding: 10px 10px 0;
  background-color: #f9fafc;
  border-top: 1px solid #ddd;
}

.survey-definition .panel .section-definition .panel-group
{
  margin-bottom: 10px;
}





.survey-response .panel,
.survey-result .panel
{
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.survey-response .panel .panel-heading,
.survey-result .panel .panel-heading
{
  position: relative;
  padding: 0;
  height: 35px;
}

.survey-response .panel .panel-heading .heading-icon,
.survey-result .panel .panel-heading .heading-icon
{
  float: left;
  width: 35px;
  height: 35px;
  text-align: center;
  background-color: #ddd;
}

.survey-response .panel .panel-heading .heading-icon i,
.survey-result .panel .panel-heading .heading-icon i
{
  color: #444;
  line-height: 35px;
  font-size: 12px;
}

.survey-response .panel .panel-heading .heading-label,
.survey-result .panel .panel-heading .heading-label
{
  float: left;
  line-height: 35px;
  padding-left: 10px;
}

.survey-response .panel .panel-heading .heading-collapse,
.survey-result .panel .panel-heading .heading-collapse
{
  position: relative;
  float: right;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #f4f4f4;
  border-left: 1px solid #ddd;
}

.survey-response .panel .panel-heading .heading-collapse i,
.survey-result .panel .panel-heading .heading-collapse i
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #646464;
  line-height: 35px;
  font-size: 12px;
}

.survey-response .panel .panel-heading .heading-collapse i.collapsed,
.survey-result .panel .panel-heading .heading-collapse i.collapsed
{
  visibility: hidden;
}

.survey-response .panel .panel-heading .heading-collapse.collapsed i.collapsed,
.survey-result .panel .panel-heading .heading-collapse.collapsed i.collapsed
{
  visibility: visible;
}

.survey-response .panel .panel-heading .heading-collapse i.expanded,
.survey-result .panel .panel-heading .heading-collapse i.expanded
{
  visibility: visible;
}

.survey-response .panel .panel-heading .heading-collapse.collapsed i.expanded,
.survey-result .panel .panel-heading .heading-collapse.collapsed i.expanded
{
  visibility: hidden;
}

.survey-response .panel .panel-collapse,
.survey-result .panel .panel-collapse
{
  padding: 10px 10px 0;
  border-top: 1px solid #ddd;
}

























table.table-group-ratings
{
  border: 1px solid #e6e6e6;
  margin-top: 10px;
  margin-bottom: 10px;
}




table.table-group-ratings > thead > tr > th
{
  font-size: 11px;
  text-align: center;
  vertical-align: bottom;
  padding: 5px 5px;
  white-space: normal !important;
}

table.table-group-ratings > tbody > tr > td
{
  font-size: 11px;
  white-space: nowrap;
  text-align: center;
  padding: 1px;
  vertical-align: middle;
}

table.table-group-ratings > tbody > tr > td:first-child
{
  padding-left: 5px;
  padding-right: 5px;
}

table.table-group-ratings > tbody > tr > td > div
{
  color: #000000;
  padding: 5px 5px;
  min-height: 45px;
  vertical-align: middle;
}

table.table-group-ratings > thead > tr > th
{
  padding-top: 10px;
  padding-bottom: 10px;
}

table.table-group-ratings > thead > tr > th > div > span, table.table-group-ratings > tbody > tr > td > span
{
  display: block;
}

table.table-group-ratings > tbody > tr > td > span
{
  line-height: 30px;
}

table.table-group-ratings > tbody > tr > td > div > span.num-ratings
{
  font-size: 8px;
}

table.table-group-ratings .form-group
{
  margin: 0;
  display: inline-block;
}

table.table-group-ratings .form-group
{
  margin: 0;
}

table.table-group-ratings .group-rating-response
{
  margin-bottom: 0px;
}

table.table-group-ratings select
{
  font-size: 12px;
  min-width: 35px;
  width: 35px;
}

table.table-group-ratings .select-wrapper:after
{
  font-size: 12px;
  width: 10px;
  padding: 0;
  right: 5px;
}

table.table-group-ratings .group-rating-response select option[disabled]:first-child
{
  display: none;
}

table.table-group-ratings .group-rating-response:after
{
  background: none;
  color: #bbb;
  content: "\f0d7";
  font-family: 'FontAwesome';
  font-size: 11px;
  padding-top: 8px;
  padding-right: 0;
  padding-left: 10px;
  padding-bottom: 0;
  position: absolute;
  right: 0px;
  width: 20px;
  top: 0;
  text-align: center;
}


div.grad-100 {background-color: rgba(7,255,0,0.5)}
div.grad-95 {background-color: rgba(43,255,0,0.5)}
div.grad-90 {background-color: rgba(80,255,0,0.5)}
div.grad-85 {background-color: rgba(116,255,0,0.5)}
div.grad-80 {background-color: rgba(153,255,0,0.5)}
div.grad-75 {background-color: rgba(189,255,0,0.5)}
div.grad-70 {background-color: rgba(225,255,0,0.5)}
div.grad-65 {background-color: rgba(255,255,0,0.5)}
div.grad-60 {background-color: rgba(255,218,0,0.5)}
div.grad-55 {background-color: rgba(255,182,0,0.5)}
div.grad-50 {background-color: rgba(255,145,0,0.5)}
div.grad-45 {background-color: rgba(255,109,0,0.5)}
div.grad-40 {background-color: rgba(255,72,0,0.5)}
div.grad-35 {background-color: rgba(255,36,0,0.5)}
div.grad-30 {background-color: rgba(255,30,0,0.5)}
div.grad-25 {background-color: rgba(255,25,0,0.5)}
div.grad-20 {background-color: rgba(255,20,0,0.5)}
div.grad-15 {background-color: rgba(255,15,0,0.5)}
div.grad-10 {background-color: rgba(255,10,0,0.5)}
div.grad-5 {background-color: rgba(255,5,0,0.5)}
div.grad-0 {background-color: rgba(255,0,0,0.5)}











/* MOVE TO TEMPLATE.CSS */

a, a:hover, a:active, a:focus
{
  outline: none;
  text-decoration: none;
  color: #367fa9;
}



