<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>
      <div class="panel">
        <section class="panel-heading">
          <div class="heading-icon"><i class="fa fa-bars"></i></div>
          <div class="heading-label"><span wicket:id="label">[Label]</span></div>
          <div wicket:id="headingCollapse"></div>
        </section>
        <div wicket:id="itemResponsePanelGroup" class="panel-collapse collapse"></div>
      </div>
    </wicket:panel>
  </body>
</html>