<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>



      <form wicket:id="form" class="form-horizontal form-material">

        <div class="box box-form">
          <div class="box-body">

            <div class="form-group">
              <div class="col-xs-12">
                <label>Name
                  <input wicket:id="name" name="name" type="text" placeholder="Enter a name"/>
                </label>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12">
                <label>Description
                  <input wicket:id="description" name="description" type="text" placeholder="Enter a description"/>
                </label>
              </div>
            </div>

          </div>
        </div>

        <div wicket:id="itemDefinition">
          <div wicket:id="itemDefinitionPanel"></div>
        </div>

        <div class="push-15-t">
          <button wicket:id="saveButton" type="submit" class="btn btn-primary pull-right push-10-l">Save</button>
          <button wicket:id="cancelButton" type="submit" class="btn btn-white pull-right">Cancel</button>
          <div class="clear-both"></div>
        </div>

      </form>

    </wicket:panel>
  </body>
</html>