<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>

      <div wicket:id="groupRatingsDefinition">
        <div class="table-responsive">
          <table class="table table-striped table-group-definition">
            <thead>
              <tr>
                <th></th>
                <th wicket:id="groupRatingDefinition"><div><span wicket:id="name"></span></div></th>
              </tr>
            </thead>
            <tbody>
              <tr wicket:id="groupMemberDefinition">
                <td><span wicket:id="name" style="font-weight: bold;"></span></td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </wicket:panel>
  </body>
</html>