<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>
      <div class="box box-form">
        <div class="box-body">
          <div class="table-responsive">
            <table class="table table-striped table-group-ratings">
              <thead>
                <tr>
                  <th></th>
                  <th wicket:id="groupRating"><div><span wicket:id="name"></span></div></th>
                </tr>
              </thead>
              <tbody>
                <tr wicket:id="groupMember">
                  <td><span wicket:id="name"></span></td>
                  <td wicket:id="groupRatingResponse" class="center">
                    <div>
                      <div class="form-group">
                        <div class="group-rating-response">
                          <select wicket:id="rating"></select>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </wicket:panel>
  </body>
</html>