<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>
      <div class="form-group">
        <div class="col-xs-12">
          <label><span wicket:id="label">[Label]</span>
            <div class="table-responsive">
              <table class="table table-striped table-group-ratings">
                <thead>
                  <tr>
                    <th></th>
                    <th wicket:id="groupRating"><div><span wicket:id="name"></span></div></th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr wicket:id="groupMember">
                    <td><span wicket:id="name"></span></td>
                    <td wicket:id="groupRatingResult" class="center">
                      <div wicket:id="rating">[Rating]</div>
                    </td>
                    <td class="center"><div wicket:id="total"></div></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </label>
        </div>
      </div>
    </wicket:panel>
  </body>
</html>
