<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>

      <div class="add-item-definition">
        <a wicket:id="addBeginLink" href="#"><i class="fa fa-plus"></i></a>
      </div>

      <div wicket:id="itemDefinition">
        <div wicket:id="itemDefinitionPanel" class="panel"/>
      </div>

      <div class="add-item-definition">
        <a wicket:id="addEndLink" href="#"><i class="fa fa-plus"></i></a>
      </div>

    </wicket:panel>
  </body>
</html>