<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>

      <div wicket:id="groupDefinition">
        <table class="table table-striped table-group-definition">
          <thead>
            <tr>
              <th></th>
              <th wicket:id="groupRatingItemDefinition"><div><span wicket:id="name"></span></div></th>
            </tr>
          </thead>
          <tbody>
            <tr wicket:id="groupMemberDefinition">
              <td><span wicket:id="name" style="font-weight: bold;"></span></td>
              <td wicket:id="groupRatingItemResponse" class="center">
                <div><span wicket:id="rating">[Rating]</span></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </wicket:panel>
  </body>
</html>