<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <!-- ===================================================================================== -->
  <!-- Application Configuration -->
  <!-- ===================================================================================== -->
  <resource-ref>
    <description>Application Data Source Reference</description>
    <res-ref-name>java:app/jdbc/ApplicationDataSource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
    <lookup-name>java:jboss/datasources/SurveyDS</lookup-name>
  </resource-ref>
  <env-entry>
    <description>Application Database Schema</description>
    <env-entry-name>java:app/env/ApplicationDatabaseSchema</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>SURVEY</env-entry-value>
  </env-entry>
  <env-entry>
    <description>Application Class</description>
    <env-entry-name>java:app/env/ApplicationClass</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>digital.survey.web.SurveyApplication</env-entry-value>
  </env-entry>
  <listener>
    <description>Application Listener</description>
    <listener-class>guru.mmp.application.web.WebApplicationListener</listener-class>
  </listener>
  <listener>
    <description>Survey Application Listener</description>
    <listener-class>digital.survey.web.SurveyApplicationListener</listener-class>
  </listener>
  <filter>
    <description>Application Filter</description>
    <filter-name>ApplicationFilter</filter-name>
    <filter-class>guru.mmp.application.web.WebApplicationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ApplicationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <display-name>survey-web</display-name>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

</web-app>
